<h1>Edit a task</h1>
<%= form_with model: @task do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed? %>
  <%= f.check_box :completed %>
  <%= f.submit 'Update task' %>
<% end %>

<%= link_to "Back to tasks", root_path %>
